/*=======================================================
====================ハンバーガーメニュー====================
=======================================================*/

.hamburger-menu{
  display: none;/*PC画面でハンバーガーメニューを非表示*/
}

/*=======================================================
====================スマホ画面CSS=========================
=======================================================*/
@media screen and (max-width:768px){

  .hamburger-menu{/*スマホ画面でハンバーガーメニューを非表示*/
  display: block;
  border-color: #ffffff;
}

  .menu-btn {/*ハンバーガーメニューボタンの詳細*/
    position: fixed;/*位置固定*/
    top: 0px;
    right: 5px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    border-color: #ffffff;
}

.menu-btn span,/*ハンバーガーメニューアイコンの真ん中の縦線*/
.menu-btn span:before,/*ハンバーガーメニューアイコンの上の縦線*/
.menu-btn span:after {/*ハンバーガーメニューアイコンの下の縦線*/
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {/*ハンバーガーメニューアイコンの上の縦線の位置*/
    bottom: 8px;
}

.menu-btn span:after {/*ハンバーガーメニューアイコンの下の縦線の位置*/
    top: 8px;
}

/*ハンバーガーへニューを開いている時のアイコンの表示*/
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {/*ハンバーガーメニューが開いている時*/
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {/*ハンバーガーメニューが開いている時*/
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;/*チェックボックスを非表示*/
}

/*ハンバーガーメニューの詳細*/

.menu-content {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    /*left: 100%;leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #1D2428;
    transition: all s;/*アニメーション設定*/
    display: none;/*通常は非表示*/
}

#menu-btn-check:checked ~ .menu-content {
    display: block;/*アイコンがクリックされたときにハンバーガーメニューを表示*/
    /*left:0;leftの値を変更してメニューを画面内へ*/
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  text-align: center;
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {/*メニューリストの矢印▷*/
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}


/*================================
      全体設定
==================================*/

/*スマホ表示でヘッダーメニューを非表示にする*/
  .header-nav{
    display: none;
  }

  .container{
    width: auto;
  }
  .main section{
    margin: 0px;
  }

/*==============================
              header
==============================*/
  .header{
    height: auto;
  }

  .h-title{
    font-size: 1rem;
    margin: 0.5rem;
  }
  .main-title{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 10px;
    margin-top: 50px;
  }
/*==============================
              About
==============================*/
  .about-box{
    display: block;
  }
  .face-img{
    display: none;
  }
/*==============================
              Service
==============================*/
  .service-box ul{
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .service-box ul li{
    width: 100%;
    margin: 20px 0;
    padding: 5px;
  }
/*==============================
              Works
==============================*/
  .works-box ul{
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .works-box ul li{
    width: 100%;
    margin: 20px 0;
    padding: 5px;
  }
}
