/*=======================================================
====================ハンバーガーメニュー====================
=======================================================*/
#nav-open span i{
  float: right;
  cursor: pointer;
  border: 1px solid #666666;
  padding: 10px;
}

/*文字を非表示*/
#nav-contents{
  display: none;
}

/*チェックボックスを非表示*/
.nav-invisible{
  display: none;
}

/*レスポンシブ時のスマホ用ヘッダー*/
#nav-contents{
  position: absolute;
  top: 100px;
  z-index: 100;
  width: 100%;
  height: auto;
  background: black;
  transition: .3s;
  opacity: 0;
}

/*ハンバーガーメニューがクリックされた時にメニューを表示する(間接セレクタ)*/
#nav-input:checked ~ #nav-contents{
  opacity: 0.8;
  display: block;/*レスポンシブ時にメニューを表示*/
}


.sp-nav ul{
  padding: 0;
  margin: 0;
}

.sp-menu-list{
  border-bottom: 1px solid white;
  text-align: left;
  line-height: 2.0;
  padding: 16px;
}

.sp-menu-list a{
  color: white;
  text-decoration: none;
}

/*pc表示ではハンバーガーメニューを非表示にする*/
.sp-menu{
    display: none;
}
/*=======================================================
====================スマホ画面CSS=========================
=======================================================*/
@media screen and (max-width:700px){
/*==================
      全体設定
==================*/

/*スマホ表示でハンバーガーメニューを表示する*/
  .sp-menu{
    display: block;
    margin: 2rem;
  }

/*スマホ表示でヘッダーメニューを非表示にする*/
  .header-nav{
    display: none;
  }

  .container{
    width: auto;
  }
  .main section{
    margin: 0px;
  }

/*==============================
              header
==============================*/
  #h-title{
    font-size: 18px;
  }
  .main-title{
    font-size: 20px;
    letter-spacing: 10px;
    margin-top: 50px;
  }
/*==============================
              About
==============================*/
  .about-box{
    display: block;
  }
  .face-img{
    display: none;
  }
/*==============================
              Service
==============================*/
  .service-box ul{
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .service-box ul li{
    width: 100%;
    margin: 20px 0;
    padding: 5px;
  }
/*==============================
              Works
==============================*/
  .works-box ul{
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .works-box ul li{
    width: 100%;
    margin: 20px 0;
    padding: 5px;
  }
}
