/*全体*/

html{
  font-size: 62.5%;
}

body{
  color: #141414;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-family: 'Roboto', sans-serif,'Noto Sans JP', sans-serif;
}

.noscroll{
  overflow: hidden;
  }

a{
  text-decoration: none;
  color: #fff;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
  vertical-align: bottom;
}

h3{
  font-size: 2.4rem;
  font-weight: bold;
  line-height:2;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

.section-title{
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
  letter-spacing: 0.05em;
}

.section-wrapper{
  padding: 100px 15% 50px;
}

/*header*/

header{
  color: #fff;
  height: 74px;
  padding: 0 120px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.h-title{
  color: #fff;
  font-size: 24px;
}

header nav{
  padding: 27px 20px;
}

header nav ul{
  display: flex;
}

header nav ul li a{
  color: #fff;
  margin-right: 55px;
}

.burger-btn{
  display: none;
}

/*fv*/

.fv{
  background: url(../img/fv-bgi@2x.jpg);
  background-repeat: no-repeat;
  height: 90vh;
  background-size: cover;
  position: relative;
  /*要素(fv-btn)を上下中央揃えにする方法
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  */
}

.fv-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  padding: 34px 42px;
  border: 2px solid #fff;
}


/*about*/

.about-title{
  line-height: 2;
  margin-bottom: 45px;
}

/*service*/

.service-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.service-img,.service-text{
  max-width: 480px;
}

.reverse{
  flex-direction: row-reverse;/*要素の順番を入れ替える*/
  margin-top: 50px;
}

/*news*/

#news ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#news ul li{
  max-width: 320px;
  box-shadow: 0px 0px 6px rgba(27, 19, 16, 0.4);
  margin-right: 10px;
}

.news-text{
  color: #141414;
  padding: 33px 25px;
  text-align: left;
}

/*contact*/

form{
  max-width: 700px;
  margin: 0 auto;
}

input,textarea{
  border: 1px solid #141414;
  padding: 10px;
}

.contact-btn{
  display: inline-block;
  background-color: black;
  border-radius: 30px;
  padding: 20px 100px;
}

.form-part{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

label{
  margin-bottom: 5px;
}

#input-subject,textarea{
  line-height: 2;
  font-size: 1.6rem;
}

textarea{
  resize: none;
  height: 171px;
}

.form-send{
  text-align: center;
  margin-top: 50px;
}

.form-btn{
  display: inline-block;
  width: 235px;
  padding: 20px 97px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #1b1310;
  box-shadow: 0 0 6px #1b1310;
}

footer{
  background-color: #1b1310;
  height: 80px;
}

small{
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}


/*=======================================================
====================ハンバーガーメニュー====================
=======================================================*/



.hamburger-menu{
  display: none;/*PC画面でハンバーガーメニューを非表示*/
}

/*レスポンシブcss*/

@media screen and (max-width:768px){

  .nav-wrapper{
  display: none;
}

  .hamburger-menu{/*スマホ画面でハンバーガーメニューを非表示*/
  display: block;
  border-color: #ffffff;
}

  .menu-btn {/*ハンバーガーメニューボタンの詳細*/
    position: fixed;/*位置固定*/
    top: 0px;
    right: 5px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    border-color: #ffffff;
}

.menu-btn span,/*ハンバーガーメニューアイコンの真ん中の縦線*/
.menu-btn span:before,/*ハンバーガーメニューアイコンの上の縦線*/
.menu-btn span:after {/*ハンバーガーメニューアイコンの下の縦線*/
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {/*ハンバーガーメニューアイコンの上の縦線の位置*/
    bottom: 8px;
}

.menu-btn span:after {/*ハンバーガーメニューアイコンの下の縦線の位置*/
    top: 8px;
}

/*ハンバーガーへニューを開いている時のアイコンの表示*/
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {/*ハンバーガーメニューが開いている時*/
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {/*ハンバーガーメニューが開いている時*/
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;/*チェックボックスを非表示*/
}

/*ハンバーガーメニューの詳細*/

.menu-content {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    /*left: 100%;leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #1D2428;
    transition: all s;/*アニメーション設定*/
    display: none;/*通常は非表示*/
}

#menu-btn-check:checked ~ .menu-content {
    display: block;/*アイコンがクリックされたときにハンバーガーメニューを表示*/
    /*left:0;leftの値を変更してメニューを画面内へ*/
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  text-align: center;
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {/*メニューリストの矢印▷*/
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

  /*base*/

  h3{
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .section-wrapper{
    padding: 100px 5% 50px;
  }

  /*header*/

  header{
    padding: 0 5%;
  }

  header .nav-wrapper nav{
    width: 100%;
    height: 100%;
    background-color:#1B1310;
    z-index: 2;
  }

  header .nav-wrapper nav ul{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  }

  header .nav-wrapper nav ul li{
    margin-right: 0;
    margin-bottom: 40px;
  }

  /*fv*/

  .fv-btn{
    font-size: 3rem;
  }

  /*service*/

  .service-box{
    flex-direction: column;
    margin: 50px auto;
  }

  .service-img{
    margin-top: 40px;
  }

  .service-img img{
    height: 150px;
    object-fit: cover;
  }

  /*news*/

  #news ul{
    flex-direction: column;
  }

  #news ul li{
    margin: 50px auto;
  }

  #news ul li:last-child{
    margin-bottom: 0;
  }
}
