/*
ハンバーガーメニュー(JavaScript)
=======================================================*/

.btn-menu{
  display: none;/*PC画面表示のときは非表示にする*/
  position: absolute;
  top: 12px;
  right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: .5rem 1rem;
}

.main-nav{
  background: gray;
  width: 0;/*100%から0に変更(非表示にする)*/
  position: absolute;
  z-index: 2;
  top: 90px;
  right: 0;
  overflow: hidden;
  transition: .5s;/*スライドのアニメーション*/
}

.main-nav li{
  text-align: center;
  margin: 2rem 0;
}

.main-nav a{
  display: block;
}

.main-nav.open-menu{
  width: 100%;/*mian-navクラスのある要素かつopen-menuクラスが付与された場合に幅を100%に変化させる*/
}

@media screen and (max-width:768px){

  *{/*全ての要素の値を設定*/
    padding: 0;
    margin: 0;
  }

/*================================================================================
=====   haader
================================================================================*/


  .header{
    height: 80px;
  }

  .btn-menu{/*スマホ画面時にメニューボタンを表示する*/
    display: block;
  }

  .header-nav{/*スマホ画面時にメニューを非表示にする*/
    display: none;
  }

/*================================================================================
=====   concept
================================================================================*/

  .concept-wrapper{
    display: block;/*display:flex;を解除*/
  }

  .concept-image,
  .concept-contents{
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
  }

/*================================================================================
=====   application
================================================================================*/

  .application-wrapper{
    display: block;/*display:flex;を解除*/
  }

  .application-image,
  .application-text{
    padding: 0 20px;
    width: 100%;
  }

  #application .third-title{
    text-align: center;
}


/*================================================================================
=====   gallery
================================================================================*/

  .gallery-mask{
    padding: 0;
  }


/*================================================================================
=====   card
================================================================================*/

  #card{
    padding: 0;
  }

  .card-list{
    display: block;/*display:flex;を解除*/
  }

  .card-li{
    width: 100%;
    padding: 0 15px;
  }

/*================================================================================
=====   contact
================================================================================*/

  .contact-wrapper{
    padding: 0 20px;
  }

/*================================================================================
=====   faq
================================================================================*/

.faq-wrapper{
  margin: 0 auto 50px;
  padding: 10px 20px;
}

.faq-question{
  padding:24px 50px 24px 24px;
}

.faq-question::after{
  right: 16px;
  width: 18px;
  height: 18px;
}

.modal-checkbox:checked ~ [data-modal="trigger"] {/*【モーダルを閉じる】の表示位置を指定*/
  bottom: 72px;
}

.modal-content{
  overflow-y: auto;
}

}
